.root {
    -fx-background-color: #0e1015;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: white;
}

.navbar {
    -fx-background-color: transparent;
    -fx-padding: 20 40 10 40;
}

.logo {
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.nav-btn, .nav-btn-active {
    -fx-background-color: transparent;
    -fx-text-fill: #ccc;
    -fx-font-size: 14px;
}

.nav-btn:hover {
    -fx-text-fill: white;
}

.nav-btn-active {
    -fx-text-fill: #c0392b;
    -fx-underline: true;
}

.btn-register {
    -fx-background-color: #2ecc71;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 6 14;
    -fx-background-radius: 20;
}

.btn-login {
    -fx-background-color: #e74c3c;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 6 14;
    -fx-background-radius: 20;
}

.title {
    -fx-font-size: 26px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.news-card {
    -fx-background-color: #1c1e24;
    -fx-background-radius: 10;
    -fx-padding: 10;
    -fx-pref-width: 300;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0, 0, 3);
    -fx-transition: 0.3s;
}

.news-card:hover {
    -fx-background-color: #272a33;
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}

.news-date {
    -fx-text-fill: #aaa;
    -fx-font-size: 12px;
    -fx-padding: 5 0 0 0;
}

.news-title {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-wrap-text: true;
    -fx-padding: 5 0 0 0;
}

.scroll-pane {
    -fx-background: transparent;
    -fx-border-color: transparent;
}